html, body {
	font-family: "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", Roboto, Noto, sans-serif;
	font-size: 12px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-font-smoothing: antialiased;
	color: #333;
	text-justify: 100%;
	-webkit-tap-highlight-color: transparent;
	background: #f0f0f0;
	height: 100%;
}

#app{
	height: 100%;
	overflow-x: hidden;
}

@media screen and (min-width: 640px) {
	#app {
		width: 480px;
		margin: 0 auto;
	}
}



